:host {
  section {
    margin: 25px 0;

    h1 {
      font-size: 40px;
    }

    div {
      display: flex;
      flex-wrap: wrap;
      padding: 0 15px;

      mat-card {
        flex-basis: 30%;
        margin: 15px 0;
        margin-right: 15px;

        mat-card-content {
          display: flex;
          padding: 0 15px;
        }

        mat-card-actions {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
